Node-RED/flows.json
[{"id":"a0be530c.db58e8","type":"tab","label":"Rhasspy Flow","disabled":false,"info":""},{"id":"5a95fb32.71ecac","type":"websocket in","z":"a0be530c.db58e8","name":"Rhasspy","server":"c3bfb521.22ee98","client":"","x":80,"y":120,"wires":[["88b29d6c.3b3f","40563885.0ceeb8"]]},{"id":"40563885.0ceeb8","type":"switch","z":"a0be530c.db58e8","name":"Intent Filter","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GetTime","vt":"str"},{"t":"eq","v":"ChangeLightState","vt":"str"},{"t":"eq","v":"ChangeLightBrightness","vt":"str"},{"t":"eq","v":"StopBeeping","vt":"str"},{"t":"eq","v":"SetTimer","vt":"str"},{"t":"eq","v":"CheckTimer","vt":"str"},{"t":"eq","v":"StopTimer","vt":"str"},{"t":"eq","v":"CheckWeather","vt":"str"},{"t":"eq","v":"JacketCheck","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":250,"y":100,"wires":[["b474d98.9c4e728"],["b274c9f9.21dba8"],["e0833b59.d8867"],["e378edb4.679e"],["88168938.247268"],["29cbdf57.9ced2"],["bb2ef8d1.f773d8"],["90b6edb3.cd94a"],["90b6edb3.cd94a"]]},{"id":"cb6090b6.a2c1b8","type":"http request","z":"a0be530c.db58e8","name":"Text to Speech","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.8.0.10:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":880,"y":340,"wires":[[]]},{"id":"b274c9f9.21dba8","type":"template","z":"a0be530c.db58e8","name":"On / Off Text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Turning {{ slots.state }} the lights.","output":"str","x":510,"y":80,"wires":[["7c09c120.29832","3d395259.05d116"]]},{"id":"b474d98.9c4e728","type":"function","z":"a0be530c.db58e8","name":"Time Text","func":"var timeString = new Date().toLocaleTimeString([],{\n    hour: \"2-digit\", \n    minute: \"2-digit\",\n    hour12: true\n})\n\nmsg.payload = \"It is \" + timeString + \".\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":20,"wires":[["fd409bef.e7f09"]]},{"id":"5bf07f8b.b6211","type":"function","z":"a0be530c.db58e8","name":"Set Brightness","func":"msg.payload = {\"on\":true,\"brightness\": msg.slots.brightness_level};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":120,"wires":[["7ef2cd00.6f65b4"]]},{"id":"7ef2cd00.6f65b4","type":"hue-group","z":"a0be530c.db58e8","name":"Bedroom","bridge":"","groupid":"1","colornamer":false,"skipevents":false,"universalevents":false,"x":920,"y":100,"wires":[[]]},{"id":"5dc529f9.064de","type":"mytimeout","z":"a0be530c.db58e8","name":"Timer","outtopic":"task1","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"5","timer":"30","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":850,"y":240,"wires":[["d94381f3.9d3c88"],["3e32dd9c.024d4a"]]},{"id":"5f12e236.3742ec","type":"change","z":"a0be530c.db58e8","name":"Cancel Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"cancel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":400,"wires":[["5dc529f9.064de"]]},{"id":"fd409bef.e7f09","type":"http request","z":"a0be530c.db58e8","name":"Text to Speech","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.8.0.10:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":600,"y":20,"wires":[[]]},{"id":"7c09c120.29832","type":"http request","z":"a0be530c.db58e8","name":"Text to Speech","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.8.0.10:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":760,"y":160,"wires":[[]]},{"id":"88b29d6c.3b3f","type":"debug","z":"a0be530c.db58e8","name":"Info","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":200,"wires":[]},{"id":"7cbabce3.7275bc","type":"function","z":"a0be530c.db58e8","name":"Check Time Text","func":"context.data = context.data || {};\nvar msg2 = null;\nvar plural = null;\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break;\n    case \"task2\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nvar timeLeft = {};\nvar hoursLeft = Math.trunc(context.data.task1 / 3600);\nvar minLeft = Math.trunc(context.data.task1 / 60) - 60 * hoursLeft;\nvar secLeft = context.data.task1 - 3600 * hoursLeft - 60 * minLeft;\n\nif (hoursLeft != 0) {\n    if (hoursLeft == 1) {\n        msg2 = hoursLeft + \" hour \";\n        plural = false;\n    } else {\n        msg2 = hoursLeft + \" hours \";\n        plural = true;\n    }\n    if (minLeft != 0 || secLeft != 0) {\n        msg2 += \"and \";\n    }\n}\n\nif (minLeft != 0) {\n    if (minLeft == 1) {\n        msg2 = msg2 + minLeft + \" minute \";\n        plural = false;\n    } else {\n        msg2 = msg2 + minLeft + \" minutes \";\n        plural = true;\n    }\n    if (secLeft != 0) {\n        msg2 += \"and \";\n    }\n}\n\nif (secLeft != 0) {\n    if (secLeft == 1) {\n        msg2 = msg2 + secLeft + \" second \";\n        plural = false;\n    } else {\n        msg2 = msg2 + secLeft + \" seconds \";\n        plural = true;\n    }    \n}\n\nif (plural == true) {\n    msg2 += \"remain.\";\n} else {\n    msg2 += \"remains.\";\n}\n\nif(context.data.task1 != null && context.data.task2 != null) {\n    context.data=null;\n\treturn {payload:msg2};\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":340,"wires":[["cb6090b6.a2c1b8"]]},{"id":"29cbdf57.9ced2","type":"change","z":"a0be530c.db58e8","name":"Set Task2","rules":[{"t":"set","p":"topic","pt":"msg","to":"task2","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"foobar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":360,"wires":[["7cbabce3.7275bc"]]},{"id":"3e32dd9c.024d4a","type":"change","z":"a0be530c.db58e8","name":"Set Task1","rules":[{"t":"set","p":"topic","pt":"msg","to":"task1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":320,"wires":[["7cbabce3.7275bc"]]},{"id":"f28eac91.c5db3","type":"function","z":"a0be530c.db58e8","name":"Set Time","func":"var time = 0;\nif (msg.slots.seconds != undefined) {\n    time += msg.slots.seconds;\n}\nif (msg.slots.minutes != undefined) {\n    time += msg.slots.minutes * 60;\n}\nif (msg.slots.hours != undefined) {\n    time += msg.slots.hours * 3600;\n}\nmsg.payload = {\"timeout\": time,\"warning\": 0};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":240,"wires":[["5dc529f9.064de"]]},{"id":"88168938.247268","type":"function","z":"a0be530c.db58e8","name":"Time Set Text","func":"var setTime = \"Timer for \";\nvar plural = null;\n\nif (msg.slots.hours != undefined) {\n    if (msg.slots.hours == 1) {\n        setTime = setTime + msg.slots.hours + \" hour \";\n    } else {\n        setTime = setTime + msg.slots.hours + \" hours \";\n    }\n    if (msg.slots.minutes != undefined || msg.slots.seconds != undefined) {\n        setTime += \"and \";\n    }\n}\nif (msg.slots.minutes != undefined) {\n    if (msg.slots.minutes == 1) {\n        setTime = setTime + msg.slots.minutes + \" minute \";\n    } else {\n        setTime = setTime + msg.slots.minutes + \" minutes \";\n    }\n    if (msg.slots.seconds != undefined) {\n        setTime += \"and \";\n    }\n}\nif (msg.slots.seconds != undefined) {\n    if (msg.slots.seconds == 1) {\n        setTime = setTime + msg.slots.seconds + \" second \";\n    } else {\n        setTime = setTime + msg.slots.seconds + \" seconds \";\n    }\n}\n\nmsg.payload = setTime + \"started.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":260,"wires":[["f28eac91.c5db3","cb6090b6.a2c1b8"]]},{"id":"401f93ad.7f674c","type":"function","z":"a0be530c.db58e8","name":"Weather Text","func":"var tempf = Math.round((msg.payload.current.feels_like * (9/5)) + 32);\nvar detail = \"\";\nif (msg.payload.current.weather[0].main == \"Clear\") {\n    detail = \"clear skies\";\n} else {\n    detail = msg.payload.current.weather[0].description;\n}\n\nmsg.payload = \"It feels like \" + tempf + \" degrees with \" + detail + \" in \" + msg.city;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":500,"wires":[["9ca91f49.0d006"]]},{"id":"9ca91f49.0d006","type":"http request","z":"a0be530c.db58e8","name":"Text to Speech","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.8.0.10:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":1020,"y":540,"wires":[[]]},{"id":"90b6edb3.cd94a","type":"function","z":"a0be530c.db58e8","name":"Set City","func":"if (msg.slots.city != undefined) {\n    msg.location = {\"city\":msg.slots.city,\"country\":\"US\"};\n} else {\n    msg.location = {\"city\":\"Cincinnati\",\"country\":\"US\"};\n}\n\nmsg.city = msg.location.city;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":460,"wires":[["92f62ebd.0d6b78"]]},{"id":"92f62ebd.0d6b78","type":"openweathermap","z":"a0be530c.db58e8","name":"Lat / Lon","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":520,"y":460,"wires":[["659fd8a2.211ac"]]},{"id":"659fd8a2.211ac","type":"openweathermap","z":"a0be530c.db58e8","name":"OpenWeather","wtype":"onecall","lon":"","lat":"","city":"","country":"","language":"en","x":680,"y":460,"wires":[["6533b4b6.7b79e4"]]},{"id":"33452a88.24d40e","type":"switch","z":"a0be530c.db58e8","name":"Check Filter","property":"slots.check","propertyType":"msg","rules":[{"t":"eq","v":"weather","vt":"str"},{"t":"eq","v":"forecast","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":500,"wires":[["401f93ad.7f674c"],["9d85522c.902be"]]},{"id":"9d85522c.902be","type":"function","z":"a0be530c.db58e8","name":"Forecast Text","func":"var tempf_min = Math.round((msg.payload.daily[1].temp.min * (9/5)) + 32);\nvar tempf_max = Math.round((msg.payload.daily[1].temp.max * (9/5)) + 32);\nvar detail = \"\";\nif (msg.payload.current.weather[0].main == \"Clear\") {\n    detail = \"clear skies\";\n} else {\n    detail = msg.payload.current.weather[0].description;\n}\n\nmsg.payload = \"Tomorrow in \" + msg.city + \" there will be \" + detail;\nmsg.payload += \" with a high of \" + tempf_max + \"and a low of \";\nmsg.payload += tempf_min + \" degrees.\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":540,"wires":[["9ca91f49.0d006"]]},{"id":"6533b4b6.7b79e4","type":"switch","z":"a0be530c.db58e8","name":"Intent Filter","property":"intent.name","propertyType":"msg","rules":[{"t":"cont","v":"CheckWeather","vt":"str"},{"t":"cont","v":"JacketCheck","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":500,"wires":[["33452a88.24d40e"],["dd8719ae.ed1bd8"]]},{"id":"dd8719ae.ed1bd8","type":"function","z":"a0be530c.db58e8","name":"Jacket Text","func":"var tempf = Math.round((msg.payload.current.feels_like * (9/5)) + 32);\nvar jacket_temp = 65;\nvar coat_temp = 40;\nvar need = \"\";\nvar note = \"\";\n\nif (msg.payload.current.weather[0].main == \"Clear\") {\n    note = \"\";\n} else {\n    note = \" with \" + msg.payload.current.weather[0].description;\n}\n\nif (tempf <= coat_temp) {\n    need = \" need a coat\";\n} else if (tempf <= jacket_temp) {\n    need = \" need a jacket\";\n} else {\n    need = \" do not need a \";\n    if (msg.slots.outerwear == \"jacket\") {\n        need += \"jacket\";\n    } else {\n        need += \"coat\";\n    }\n    \n}\n\nmsg.payload = \"You\" + need + \". It is \" + tempf + \" degrees out\" + note + \".\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":580,"wires":[["9ca91f49.0d006"]]},{"id":"d94381f3.9d3c88","type":"looptimer-advanced","z":"a0be530c.db58e8","duration":"2","units":"Second","maxloops":"150","maxtimeout":"5","maxtimeoutunits":"Minute","name":"Alarm Loop","x":1010,"y":220,"wires":[["657e4146.567c28"],[]]},{"id":"e378edb4.679e","type":"change","z":"a0be530c.db58e8","name":"Stop Loop","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":220,"wires":[["d94381f3.9d3c88"]]},{"id":"2f29fac.b68f986","type":"file in","z":"a0be530c.db58e8","name":"Select File","filename":"/home/pi/audio/alarm.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":1090,"y":320,"wires":[["43c52632.ce2958"]]},{"id":"43c52632.ce2958","type":"http request","z":"a0be530c.db58e8","name":"Play Alarm WAV","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.8.0.10:12101/api/play-wav","tls":"","persist":false,"proxy":"","authType":"","x":1100,"y":360,"wires":[[]]},{"id":"657e4146.567c28","type":"change","z":"a0be530c.db58e8","name":"Set Content-Type","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"audio/wav\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":280,"wires":[["2f29fac.b68f986"]]},{"id":"3d395259.05d116","type":"function","z":"a0be530c.db58e8","name":"Turn On / Off","func":"if (msg.slots.state == \"on\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":80,"wires":[["7ef2cd00.6f65b4"]]},{"id":"bb2ef8d1.f773d8","type":"change","z":"a0be530c.db58e8","name":"Timer Stop Text","rules":[{"t":"set","p":"payload","pt":"msg","to":"The timer has been stopped.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":400,"wires":[["cb6090b6.a2c1b8","5f12e236.3742ec"]]},{"id":"e0833b59.d8867","type":"function","z":"a0be530c.db58e8","name":"Brightness Text","func":"if (msg.slots.brightness_action == \"dim\") {\n    msg.payload = \"Dimming the lights.\";\n} else if (msg.slots.brightness_action == \"brighten\") {\n    msg.payload = \"Brightening the lights.\";\n} else {\n    msg.payload = \"Turning the lights to \" + msg.slots.brightness_level + \"percent.\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[["5bf07f8b.b6211","7c09c120.29832"]]},{"id":"c3bfb521.22ee98","type":"websocket-listener","path":"ws://10.8.0.10:12101/api/events/intent","wholemsg":"true"}]
